STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2


# S3 Credentials (obtained via Cloudflare R2 API Tokens)
S3_ACCESS_KEY_ID="1a2b3c4d5e6f7g8h9i0j"
S3_SECRET_ACCESS_KEY="k1l2m3n4o5p6q7r8s9t0"

# R2 Specific Configuration
S3_BUCKET="my-medusa-bucket"
S3_REGION="auto"
S3_ENDPOINT="https://7de1234a588187060ff5f50ff69c4bde.r2.cloudflarestorage.com"
